.products-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.products-wrapper .product-item img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  padding: 2px;
  border: 1px solid #c0c0c0;
}
.products-wrapper .product-item .product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.products-wrapper .product-item button {
  display: block;
  width: 100%;
  border: 0;
  background: #2a5ea5;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}